<footer class="footer bg-dark py-3 mt-auto" data-bs-theme="dark">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col">
                &copy; JustCastles 2023
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
                &copy; CatInABucket 2023
            </div>
        </div>
    </div>
</footer>