<% layout('layouts/base')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col col-xl-auto" id="register-column">
            <div>
                <h5 class="mb-5 mt-4">Something went wrong!</h5>
                <img class="img-thumbnail" src="https://res.cloudinary.com/dvysdge6i/image/upload/c_scale,w_900/v1687284705/JustCastles/michal-matlon-VrhE5ry2UZM-unsplash_kdp03o.jpg" alt="">
                <h3 class="mt-5">It seems like you might have gotten lost in your way to Santiago</h3>
            </div>
        </div>
    </div>
</div>
</div>