<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Castle</title>
</head>
<body>
    <h1>Edit Castle</h1>
    <form action="/castles/<%=castle._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="castle[title]" value="<%=castle.title%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="castle[location]" value="<%=castle.location%>">
        </div>
        <button>Update Castle</button>
        <footer>
            <a href="/castles/<%=castle._id%>">Back to Castle</a>
        </footer>
    </form>
</body>
</html>