<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Castles</title>
</head>
<body>
    <h1>All Castles!</h1>
    <div>
        <a href="/castles/new">Add Castle</a>
    </div>
    <ul>
        <% for (let castle of castles) {%>
            <li><a href="/castles/<%= castle._id %>"><%= castle.title %></a></li>
        <% } %>
    </ul>
</body>
</html>