#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://res.cloudinary.com/dvysdge6i/image/upload/v1686842494/JustCastles/wallace-bentt-4j8_dFORaNQ-unsplash_lmpgq2.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

#register-column {
    color: white;
    background-color: #212529;
    border: 1rem #212529 solid;
    border-radius: 30px;
    width: 1000px;
    height: 800px;
}

#column {
    background-color: white;
    border: 1rem white solid;
    height: 100vh;
}

input[type="file"] {
    border: 1px #212529 solid;
}

input[type="text"] {
    border: 1px #212529 solid;
}

textarea[type="text"] {
    border: 1px #212529 solid;
}

.img-thumbnail {
    border: 1px #212529 solid;
}