<% layout('layouts/base') %>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col col-xl-auto">
                <div class="card text-bg-dark mb-3">
                    <div class="card-body">
                        <h5 class="card-header">Reset password</h5>
                        <form action="/reset/<%= token %>" method="POST" class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="password">New password</label>
                                <input class="form-control" type="text" id="password" name="password" autofocus
                                    required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Repeat new password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                            </div>
                            <button class="btn btn-success btn-block mt-1">Reset password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>